body {
    background-color: beige;
}

h2 #titulo p.design {
    padding-left: 10px;
    border: 1px;
}

#titulo {
    background-color: red;
    border: solid 1px black;
    text-align: center;
    padding: 10px;
    color: white;
}

footer>h4 {
    color: blue;
    text-align: center;
    padding: 1px;
}

.direitos{
    color: red;
}

h2 {
    text-align: center;
}

footer {
    background-color: goldenrod;
    border: solid 2px;
    width: auto;
}

main>p {
    background-color: white;
}

@media (min-width:900px) {
#titulo, #h1, #rodape {
    display: inline-block;
    width: 100%;
}
}